*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.header{
  min-height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(banner1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img{

}

.nav-links{
  flex: 1;
  text-align: right;
}

.nav-links ul li{
  list-style:   none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 25px
}

.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #77dd77;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after{
  width: 100%;
  }

  .search-container {


      }
      .search-container input[type=text] {
        padding: 6px;
        border: none;
        font-size: 14px;
      }
      .search-container input[type=text]::placeholder {
        color: #999;
      }
      .search-container button {
        padding: 6px 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        font-size: 14px;
        cursor: pointer;
      }


.text-box{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1{
  margin-top: 50px;
  font-size: 100px;
}

.text-box p{
  margin: 10px 0 -15px;
  font-size: 30px;
  color: #fff;
}

.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  margin-top: 50px;
  background: transparent
  position: relative;
  cursor: pointer;
}

.hero-btn:hover{
  border: 1px solid #77dd77;
  background: #77dd77;
  transition: 1s;
}
/*----services*/
.services{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 60px;
}

.services2{
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: -50px;
}

h1{
  font-size: 36px;
  font-weight: 600;
}
p{
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.services-col{
  flex-basis: 49%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;

}

h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

p{
  font-size: 17px;
}

.services-col:hover{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.services-pic{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 25px;
}
.services-pic h1{
  margin-top: 15px;
}

.servpic-col{
  flex-basis: 48%;
  border-radius: 30px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  background: #fff3f3;
  transition: 0.5s;
}

.servpic-col img{
  width: 100%;
}

.servpic-col:hover{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.4);
}

.layer{
  text-align: center;
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left:0;
}

/* cta */

.cta{
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(banner2.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.cta h1{
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}
/*footer*/

.footer{
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4{
  border-radius: 10px;
  margin-top: 20px;
  font-weight: 600;

}



.icons .fa{
  color: #d29062;
margin: 0 13px;
cursor: pointer;
padding: 18px 0;
}

/*about us*/

.sub-header{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/background.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.sub-header h1{
  margin-top: 100px;
}

.about-us{
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}

.about-col{
  flex-basis: 48%;
  padding: 30px 2px
}

.about-col img{
  width: 100%;
}

.about-col h1{
  padding-top: 0;
}

.about-col p{
  font-size: 20px;
  padding: 15px 0 25px;
}

.brown-btn{
  border: 1px solid #244224;
  background: transparent;
  color: #0c160c;
}

.brown-btn:hover{
  color:#fff;
}
/*contactus*/
.location{
  width: 80%;
  margin: auto;
  padding: 80px 0;
}

.location iframe{
  width: 100%;
}

.contact-us{
  width: 80%;
  margin: auto;
  }

.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;

  }
.contact-col div{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.contact-col div .fa{
  font-size: 28px;
  color: #d29062;
  margin: 10px;
  margin-right: 30px;
}

.contact-col div p{
  padding: 0;
  }
.contact-col div h5{
  font-size: 20px;
  margin-bottom: 5px;
  color: #555;
  font-weight: 400;
}

.contact-col input, .contact-col textarea{
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
}

.rent-now{

}

.select{
  margin-left: 10px;
  padding-left: 10px;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
  margin-bottom: 20px;
}

.btn .hero-btn{
  flex-basis: 41%;
  margin-left: 30%;
  height: 100px;
  font-size: 50px;
  font-weight: 400;
  border-radius: 20px;
  border-width: medium;
  margin-bottom: -75px;
  font-family: sans-serif;
}
