.basic-inner-box{
    padding: 2%; 
    margin: 2%;
    border: solid 1px black;
    border-radius: 25px; 
    background-color: #fbfff4;
}
.businessNamehover{

    color:rgb(0, 37, 25);
    transition: transform .3s;
}

.businessNamehover:hover{

    color:rgb(37, 75, 2);
    transform: scale(1.01);
}